
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />

<h2>Trang chủ</h2>
@*Views/TestPartialViewResult.cshmtl
@{
    ViewBag.Title = "TestPartialViewResult";
}
<h3>PartialViewResult</h3>
<ol>
    <li>item1</li>
    <li>item 2</li>
    <li>item 3</li>
    <li>item 4</li>
    <li>item 5</li>
</ol>
Views/TestViewResult.cshmtl
<h3>ViewResult</h3>*@

