@model IEnumerable<De_1.Models.PhanLoai>
<div class="row align-items-center">
    <div class="col text-center">
        <div class="new_arrivals_sorting">
            <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">Tất cả các sản phẩm</li>
                @foreach (var l in Model)
                {
                    <li class="id_sp grid_sorting_button button d-flex flex-column justify-content-center align-items-center" id="@l.MaPhanLoai" data-filter=".@l.PhanLoaiChinh">@l.PhanLoaiChinh</li>
                }
            </ul>
        </div>
    </div>
</div>
