@{
    ViewBag.Title = "Introduction";
}
@section styles{
    <link href="~/Content/Introduction.css" rel="stylesheet" type="text/css" />
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="outline">
    <p class="butterfly">Bướm Bướm Bướm Bướm Bướm Bướm Bướm Bướm Bướm Bướm</p>
</div>